<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322016123608-4ercn12pupc9qe5so296jcj969ssajcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322016123608-4ercn12pupc9qe5so296jcj969ssajcu</string>
	<key>API_KEY</key>
	<string>AIzaSyBHlkGXeckTUC0R__JnZR9nIqFIjUujvH8</string>
	<key>GCM_SENDER_ID</key>
	<string>322016123608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inktech.saferHackathon</string>
	<key>PROJECT_ID</key>
	<string>besafe-bedf9</string>
	<key>STORAGE_BUCKET</key>
	<string>besafe-bedf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322016123608:ios:ca03566ba7d2597a0115ad</string>
	<key>DATABASE_URL</key>
	<string>https://besafe-bedf9-default-rtdb.firebaseio.com</string>
</dict>
</plist>